body {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/a5/20/e1/a520e1ceedb84d892f6287bead134dcd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 50px;
	margin-top :500px;
	color: orange;
	font-family: 'Acme', sans-serif;
}