
body{
background-image: url(https://s-media-cache-ak0.pinimg.com/originals/9d/ab/5f/9dab5fb48469bf11c6b0633f43a7f49e.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: top;
}

p{
	font-style: italic;
	font-size: 25px;
	font-family: 'Pacifico', cursive;

}
div{
	transition: transform 5s;

}

 div:hover{
transform: skew(25deg,25deg);
}