body{
	background-image: url(http://media1.santabanta.com/full1/Events/Birthday/birthday-11a.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.btn-primary.btn-lg  {
	margin-top: 60%;
	padding-top: 20px;
	margin-left: 40%;
	color: black;
	background-color: orange;
	font-family: 'Indie Flower', cursive;
	transition: transform 1s;

}

.btn-primary.btn-lg :hover{
	display: flex;
	background-color: pink;
	cursor: pointer;
	
	
	
	transform: scale(4,5); 




}
div h1{
	font-style: italic;
	font-weight: bold;
	margin-top: 15%;
	color: rgba(12,242,47,0.75);
	font-family: 'Indie Flower', cursive;
}
